body {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Verdana;
}
.btn-primary, .btn-primary:focus {
    background-color: #dbd9d9;
    color: black;
    border: none;
    box-shadow: 0px 0px 2px #000;
    transition: ease 0.3s;
}
.btn-primary:hover {
    background-color: lightblue !important;
    color: black;
}
.btn-primary:active {
    background-color: green !important;
    color: black !important;
    box-shadow: none;
}
.mainDivColor {
    background-color: rgba(255,255,255,0.9);
    padding: 20px 50px;
    margin-top: 10px;
    box-shadow: 1px 1px 10px #000;
}
table {
    border: solid 3px black !important;
    display: table-cell;
}
th, td {
    font-size: 90% !important;
}
th {
    background-color: #cebbbb;
    text-align: center;
}
